
//
// Close icons
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

/* For Header */
.barr-top {
  height: 4px;
  background-color: #6e6e6e;
  border-bottom: 1px solid #fff;
}

header {

  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;

  .logo {
    .logo-image {
      span, small {
        display: none;
      }
    }
  }

  ul.nav {
    display: inline-block;
    float: right;

    font-family: Arial, sans-serif;
    color: #313131;
    font-size: 11px;

    li {
      display: table-cell;

      span {
        padding-right: 8px;
        padding-left: 8px;
      }

      a {
        padding: 0;
        color: #313131;

        &:hover,
        &:focus {
          color: #b50919;
        }

      }

      &.current {
        a {
          text-decoration: underline;

        }
      }
    }
  }

  ul.social-network {
    margin: 8px 0 0 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
    float: right;
    font-size: 18px;

    li {
      display: block;
      float: left;
      margin-left: 15px;

      a {
        color: #000;

        &:hover,
        &:focus {
          color: #b50919;
        }
      }
    }

  }

}

/* For search */
.search_container {
  position: relative;
  height: 60px;

  .ombre_r {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 59px;
    background: url("../images/ombre_serch_r.png") right top no-repeat;

  }

  .ombre_l {
    position: absolute;
    left: 0;
    bottom: 0;
    background:  #E0F2BE;
    width: 20px;
    height: 59px;
    background: url("../images/ombre_serch_l.png") left top no-repeat;
  }

  .search {
    height: 60px;
    padding-left: 0px;
    padding-right: 5px;
    position: relative;

    .form-search {
      padding: 10px 20px 10px 0px;


      .input-group-addon {
        border-color: #dcdcdc;
        background-color: #ffffff;
        color: #cc2105;
        font-size: 18px;
        padding: 7px 7px ;

      }


      input {
        font-size: 12px;
        line-height: 22px;
        color: #bababa;

        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: none;

        border-color: #dcdcdc;

        &:focus {
          border-color: @brand-primary;
        }


      }



      button {
        -webkit-border-radius: 0px;
        -webkit-border-top-right-radius: @btn-border-radius-base;
        -webkit-border-bottom-right-radius: @btn-border-radius-base;
        -moz-border-radius: 0px;
        -moz-border-radius-topright: @btn-border-radius-base;
        -moz-border-radius-bottomright: @btn-border-radius-base;
        border-radius: 0px;
        border-top-right-radius: @btn-border-radius-base;
        border-bottom-right-radius: @btn-border-radius-base;

        font-size: 12px;
        line-height: 21px;
        background:  #000000;
        color: #ffffff;
        text-transform: uppercase;

        border-left: none;

        &:hover {
          color: #ffa405;
        }
        &:focus{
          outline: none;

        }
      }


    }

    .ombre_center {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 60px;
      background: url("../images/ombre_center.png") left bottom repeat;
    }
    .ombre_input_search {
      position: absolute;
      left: 0px;
      bottom: 0;
      width: 100%;
      height: 60px;


      .ombre {
        height: 60px;
        margin-left: 60px;
        margin-right: 5px;
        background: url("../images/ombre_input_serch.png") left bottom repeat;
      }

    }



  }

  .espace {
    padding-left: 5px;
    padding-right: 0px;

    .ombre {
      margin: 0;
      padding: 0;

      width: 100%;
      height: 60px;
      background: url("../images/ombre_espace.png") left bottom repeat;
    }


  }



  input {

  }
}

.main_slides {
  margin-top: -20px;
  margin-bottom: -70px;
  position: relative;
  z-index: 10;

  .image {
    outline: none !important;
    background-color:  #d7d7d7;
    border-bottom: 1px solid #ffffff;

    img {
      outline: none !important;

      //width: 100%;
      margin: 0 auto;
      height: auto;
    }
  }

}

#menu-nav{
  position: relative;
  z-index: 9999;
}

#search-container, #main-container {
  position: relative;
  z-index: 9998;
}

/* For Main menu */
.main-menu {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.56);

  margin-bottom: 1px;

  .navbar-nav {
    width: 100%;
    display: table;
    table-layout: auto;
    float:none;
    border-radius: @navbar-border-radius;

    > li {
      font-size: 16px;
      float: none;
      display: table-cell;
      text-align: center;

      a {
        span.barr-rigt {
            position: absolute;
            background-color: #dc717d;
            width: 1px;
            height: 15px;
            top:11px;
            right: 0;
        }

        span.barr-bottom {
          position: absolute;
          background-color: #b50919;
          width: 100%;
          height: 5px;
          bottom: 0;
          left: 0;
        }

        &:hover,
        &:focus {

          span.barr-bottom {
            background-color: #c63846;
          }

        }

      }



      &:first-child {
        a {
          -webkit-border-top-left-radius: @navbar-border-radius;
          -webkit-border-bottom-left-radius: @navbar-border-radius;
          -moz-border-radius-topleft: @navbar-border-radius;
          -moz-border-radius-bottomleft: @navbar-border-radius;
          border-top-left-radius: @navbar-border-radius;
          border-bottom-left-radius: @navbar-border-radius;

          &:hover,
          &:focus {
            -webkit-border-top-left-radius: @navbar-border-radius;
            -webkit-border-bottom-left-radius: @navbar-border-radius;
            -moz-border-radius-topleft: @navbar-border-radius;
            -moz-border-radius-bottomleft: @navbar-border-radius;
            border-top-left-radius: @navbar-border-radius;
            border-bottom-left-radius: @navbar-border-radius;
          }

          span.barr-bottom {
            -webkit-border-bottom-left-radius: @navbar-border-radius;
            -moz-border-radius-bottomleft: @navbar-border-radius;
            border-bottom-left-radius: @navbar-border-radius;
          }
        }

      }

      &:last-child {
        a {
          -webkit-border-top-right-radius: @navbar-border-radius;
          -webkit-border-bottom-right-radius: @navbar-border-radius;
          -moz-border-radius-topright: @navbar-border-radius;
          -moz-border-radius-bottomright: @navbar-border-radius;
          border-top-right-radius: @navbar-border-radius;
          border-bottom-right-radius: @navbar-border-radius;

          &:hover,
          &:focus {
            webkit-border-top-right-radius: @navbar-border-radius;
            -webkit-border-bottom-right-radius: @navbar-border-radius;
            -moz-border-radius-topright: @navbar-border-radius;
            -moz-border-radius-bottomright: @navbar-border-radius;
            border-top-right-radius: @navbar-border-radius;
            border-bottom-right-radius: @navbar-border-radius;
          }

          span.barr-bottom {
            -webkit-border-bottom-right-radius: @navbar-border-radius;
            -moz-border-radius-bottomright: @navbar-border-radius;
            border-bottom-right-radius: @navbar-border-radius;
          }

          span.barr-rigt {
            display: none;
          }
        }
      }
    }

    > li.active {
      a {
        span.barr-bottom {
          background-color: #c63846;
        }
      }

    }

    .dropdown-menu {
      width: 100%;
      background: none;
      border: none;
      margin: 0;
      padding: 1px 0;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      li {


        margin-top: 1px;
        margin-bottom: 2px;

        a {
          background: rgba(35, 18, 17, .32);

          -webkit-border-radius: @navbar-border-radius;
          -moz-border-radius: @navbar-border-radius;
          border-radius: @navbar-border-radius;

          color: #ffffff;
          text-align: center;

          &:hover {

            -webkit-border-radius: @navbar-border-radius;
            -moz-border-radius: @navbar-border-radius;
            border-radius: @navbar-border-radius;

            background: rgba(35, 18, 17, .54);
          }
        }

        &.active {
          a {
            background: rgba(35, 18, 17, .54);
          }

        }

      }

    }

  }
}

/* For Main Container */
.mainbody {
  padding-bottom: 1px;



  .container_main {
    background: #fff;
    min-height: 250px;
  }
}


/* For Breadcrumb */
.container-breadcrumb {
  padding-top: 10px;
}


.module {
  margin-bottom: 20px;
}
/* MODULE MENU */
.mod-menu {

  h3 {
    font-size: 14px;
    font-weight: 400;
    color:  #525252;
    background-color: #f8aa14;
    margin: 0;
    padding: 13px 16px;
    text-transform: uppercase;

    -webkit-border-radius: @border-radius-large;
    -moz-border-radius: @border-radius-large;
    border-radius: @border-radius-large;
  }

  ul {
    background-color:  #ebebeb;
    -webkit-border-radius: @border-radius-large;
    -moz-border-radius: @border-radius-large;
    border-radius: @border-radius-large;
    padding: 5px 10px;

    li{
      border-bottom: 1px solid #d1d1d1;

      a {
        padding: 8px 10px;
        color:  #525252;

        span {
          display: none;
        }

      }

      &.current {
        a {
          padding: 8px 10px;
          color:  #525252;
          text-decoration: underline;

          span {
            position:absolute;
            top: 14px;
            left: 0;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-size: 9px;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #575757;

            &:before {
              content: "\e250";
            }
          }

        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  hr {
    border-color: #e3e3e3;
    margin-top: 3px;
    margin-bottom: 3px;
  }

}

.mod-news {
  h3 {
    font-size: 18px;
    font-weight: 400;
    color:  #ffffff;
    background-color: #242424;
    margin: 0;
    padding: 5px 9px;

    -webkit-border-radius: @border-radius-large;
    -moz-border-radius: @border-radius-large;
    border-radius: @border-radius-large;
  }

  .last_news_slides {
    background-color:  #f8f8f8;
    -webkit-border-radius: @border-radius-large;
    -moz-border-radius: @border-radius-large;
    border-radius: @border-radius-large;
    margin-top: 3px;
    padding: 5px 10px;

    .item {
      display: block;
      outline: none;
      min-height: 204px;

      .date {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color:  #000000;
        font-size: 12px;
      }

      .title {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #cc2105;
        font-size: 12px;
        margin-top: 5px;
      }

      .btn {
        text-transform: uppercase;

      }

      p {
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.5px;

        img {
          float: left;
          margin-right: 18px;
          margin-bottom: 9px;
          padding: 0;
          border: none;

          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
    }
  }



}

.mod-info-flash {

  .image-info {
    position: relative;
    width: 100%;
    height: 254px;

    a.info-flash {
      position: absolute;
      width: 295px;
      height: 49px;
      bottom: 21px;
      left: 25px;

      > div {
        float: left;
        min-height: 49px;

        p{
          display: block;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
        }

        &.red {
          width: 85px;
          background-color:  #ffffff;
          color: #c91f05;
          font-size: 16px;
          line-height: 49px;
          text-align: center;
          font-weight: 700;
          position: relative;

          span {
            position: absolute;
            top: 0;
            right: 0;
            width: 11px;
            height: 20px;
            background: url("../images/top_calque_info_image.png") top right no-repeat;

          }
        }

        &.white {
          width: 210px;
          background-color:  #c91f05;
          color: #ffffff;
          font-size: 14px;
          line-height: 49px;
          text-align: center;
          font-weight: 400;
        }

      }

      &:hover {

        > div {
          &.red {
            color: #000000;
          }

          &.white {
            color: #ffa405;
          }

        }

      }

    }

    img {

      -webkit-border-radius: @border-radius-large;
      -moz-border-radius: @border-radius-large;
      border-radius: @border-radius-large;

    }
  }
}

/* Sidebar Content */
.sidebar-content {
  border-top: 1px solid #dcdcdc;
  background-color: #f9f9f9;

  .slick-slider {

    .next-slide {
      position: absolute;
      top:30px;
      right: 30px;
      margin: 0;
      padding: 9px 16px;
      border: none;
      font-size: 21px;
      background-color:  #ffab08;
      color: #ffffff;
      outline: none;
      z-index: 9999;

      &:hover {
        background-color: #f8a608;
      }
    }

    .prev-slide {
      position: absolute;
      top:30px;
      right: 77px;
      margin: 0;
      padding: 9px 16px;
      border: none;
      font-size: 21px;
      background-color:  #ffab08;
      color: #ffffff;
      outline: none;
      z-index: 9999;

      &:hover {
        background-color: #f8a608;
      }
    }

  }

  .slide-content {
    outline: none;


    .block_image {
      position: relative;
      height: 250px;

      .triangle {
        position: absolute;
        top: 37px;
        right: 0;
        width: 20px;
        height: 40px;
        background: url("../images/triangle.png") top right no-repeat;
      }

      h2 {
        position: absolute;
        width: 100%;
        height: auto;
        bottom:18px;
        left: 0;

        font-family: "Source Sans Pro", Arial, sans-serif;
        font-weight: 200;
        font-size: 22px;
        color: #ffffff;
        margin: 0;
        padding-left: 16px;

        small {
          font-size: 15px;
          color:  #ffab08;
          font-family: "Source Sans Pro", Arial, sans-serif;
          font-weight: 300;
        }


      }
    }

    .block_content {

      h1 {
        color: #000000;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 16px;
        margin-bottom: 26px;

        small {
          color:  #525252;
          font-weight: 400;
          font-size: 20px;
          text-transform: uppercase;

        }
      }

      h3 {
        font-family: "Source Sans Pro", Arial, sans-serif;
        color: #525252;
        font-weight: 300;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      p {
        font-family: Arial, sans-serif;
        font-weight: normal;
        color: #525252;
        font-size: 12px;
      }

      .box_compteur {

          display: table;
          float: right;
          background-color: #ffab08;
          margin: 0;
          padding: 0 12px;
          font-size: 20px;
          font-weight: 400;
          line-height: 50px;
          color: #ffffff;
      }

    }

  }


}

/* Footer */
footer {
  background: #fff;

  .container_newsletter {
    background-color: #a70901;
    min-height:48px ;

    .register_newsletter {
      background-color: #c91f05;
      padding-top: 6px;
      padding-bottom: 7px;

      border-right: 1px solid #d63b0c;

      label{
        color:  #fff;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 0;
        text-shadow: 1px 1px 2px rgba(179, 17, 2, 1);

        strong {
          color: #ffa405;
          font-weight: 400;
        }
      }

      .form-group {

        -webkit-box-shadow: inset 0px 0px 20px 2px rgba(159,23,4,1);
        -moz-box-shadow: inset 0px 0px 20px 2px rgba(159,23,4,1);
        box-shadow: inset 0px 0px 20px 2px rgba(159,23,4,1);

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        border-bottom: 1px solid #d1310a;

        .form-control {
          background: transparent;
          border: none ;
          color: #ffffff;

          // Firefox
          &::-moz-placeholder {
            color: #ffffff;
            opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
          }
          &:-ms-input-placeholder { color: #ffffff; } // Internet Explorer 10+
          &::-webkit-input-placeholder  { color: #ffffff; } // Safari and Chrome

          &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }

        }


        .btn-newsletter {
          color: #c91f05;
          border: none;

          text-transform: uppercase;

          -webkit-box-shadow: inset 0px 0px 20px 2px rgba(233,233,233,1);
          -moz-box-shadow: inset 0px 0px 20px 2px rgba(233,233,233,1);
          box-shadow: inset 0px 0px 20px 2px rgba(233,233,233,1);

          &:hover,
          &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            color: #000;

            outline: 0px;
            outline-offset: 0px;
            border: none;
          }
        }

      }
    }

    .espace {
      border-left: 5px solid #a10801;
      height:48px;
    }

  }

  .barre_newslettre {
    margin-top: 1px;

    .barre_right {
      height: 25px;
      background: url("../images/barre_newslettre_r.png") right top no-repeat;
    }
    .barre_left {
      height: 25px;
      background: url("../images/barre_newslettre_l.png") left top no-repeat;
    }
  }

  small{
    font-family:  Arial, SansSerif;
    font-weight: normal;
    font-size: 100%;
    color: @brand-primary;
  }

  ul.nav {
    display: inline-block;
    float: right;

    font-family: Arial, sans-serif;
    color: #313131;
    font-size: 11px;

    li {
      display: table-cell;

      span {
        padding-right: 8px;
        padding-left: 8px;
      }

      a {
        padding: 0;
        color: #313131;

        &:hover,
        &:focus {
          color: #b50919;
          background: none;
        }

      }

      &.current {
        a {
          text-decoration: underline;

        }
      }

    }
  }

  address {
    font-family: Arial, SansSerif;
    font-weight: normal;
    color: #9a9a9a;
    font-size: 12px;

    strong {
      font-weight: bold;
    }
  }

  .powred_by {
    font-family: Arial, SansSerif;
    font-weight: normal;
    color: #9a9a9a;
    font-size: 12px;
  }


}


/*** Style specific For Conenu ****/

.content {
  h1 {
    font-family: @font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
  }

  h2 {
    font-family: @font-family-sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: #525252;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .cadre {
    display: block;
    padding: 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fcfcfc;
    border: 1px solid #f7f7f7;

    span {
      font-weight: 700;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .liens_utiles {

    a {
      font-size: 20px;
      font-weight: 700;
      color:  #c30d22;

      &:hover,
      &focus {
        color:  #c30d22;
        text-decoration: underline;
      }

    }

    p{
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      color: #000;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: -6px;
      border-color: #969696;

    }

    > div:last-child {
      hr {
        display: none;
      }
    }
  }

  .cadre_image {
    padding: 10px 20px 10px 15px;
    margin-bottom: 10px;
    position: relative;

    .corner_right {
      position: absolute;
      top:0;
      right: 10px;
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 3px solid #f8a608;
      border-left: 3px solid #f8a608;

    }
    .corner_left{
      position: absolute;
      bottom: 0;
      left: 5px;
      display: block;
      width: 10px;
      height: 10px;
      border-top: 3px solid #f8a608;
      border-right: 3px solid #f8a608;
    }
  }

  .container_ul {
    margin-top: 10px;
    margin-bottom: 20px;

    h3{
      margin-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      color:  #c30d22;
      font-weight: 700;
      font-size: 20px;

    }

    p {
      padding-left: 22px;
      padding-right: 22px;
      margin-bottom: 0;
      color: #000000;
      font-weight: 400;
      text-align: justify;
      font-size: 14px;

      background: url("../images/disc_li.png") top left no-repeat;
    }

    hr {
      border-color: #969696;
      width: 96%;
      margin-top: 15px;
      margin-bottom: 15px;
    }

  }

  .without_separator {
    p{
      margin-bottom: 20px;
      padding-right: 5px;

    }
  }

  .seperator_col {
    border-right: 1px solid #969696;
  }


}

.content_404 {


  h1 {
    margin-top: 60px;
    margin-bottom: 60px;

    font-size: 155px;
    font-weight: 400;
    color: #c30d22;
    text-shadow: 2px 3px 0px rgba(222, 222, 222, 1);

    small {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 200;
      font-size: 53px;
      color: #c30d22;
      text-shadow: 1px 2px 0px rgba(222, 222, 222, 1);
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #202020;
  }

  p {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color:  #202020;
    margin-bottom: 72px;
  }

}


// Commun
/* Commaun*/
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.wrap {
  width: auto;
  clear: both;
}

.container-ombre {
  position: relative;

  .ombre_r {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: url("../images/ombre_r.png") left top repeat;

   }

  .ombre_l {
    position: absolute;
    left: 0;
    top: 0;
    background:  #E0F2BE;
    width: 15px;
    height: 100%;
    background: url("../images/ombre_l.png") right top repeat;
  }

}


